[submodule "debts"]
	path = debts
	url = https://github.com/finagin/debts-prototype.git

[submodule "queue"]
	path = queue
	url = https://github.com/finagin/queue.git
[submodule "chat"]
	path = chat
	url = https://github.com/finagin/chat.git
[submodule "gps"]
	path = gps
	url = https://github.com/finagin/gps.git
[submodule "link"]
	path = link
	url = https://github.com/finagin/link.git
[submodule "wp-plugins"]
	path = wp-plugins
	url = https://github.com/finagin/wp-plugins.git
[submodule "profile"]
	path = profile
	url = https://github.com/finagin/profile.git
[submodule "autoprint"]
	path = autoprint
	url = https://github.com/finagin/autoprint.git
[submodule "love"]
	path = love
	url = https://github.com/finagin/love.git
[submodule "Gulpfile"]
	path = Gulpfile
	url = https://github.com/finagin/Gulpfile.js.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/finagin/schedule.git
[submodule "passwd"]
	path = passwd
	url = https://github.com/finagin/passwd.git
