[submodule "debts"]
	path = debts
	url = https://github.com/finagin/debts-prototype.git
[submodule "queue"]
	path = queue
	url = https://github.com/finagin/queue.git
[submodule "gps"]
	path = gps
	url = https://github.com/finagin/gps.git
[submodule "link"]
	path = link
	url = https://github.com/finagin/link.git
[submodule "wp-plugins"]
	path = wp-plugins
	url = https://github.com/finagin/wp-plugins.git
[submodule "profile"]
	path = profile
	url = https://github.com/finagin/profile.git
[submodule "autoprint"]
	path = autoprint
	url = https://github.com/finagin/autoprint.git
[submodule "Gulpfile"]
	path = Gulpfile
	url = https://github.com/finagin/Gulpfile.js.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/finagin/schedule.git
[submodule "passwd"]
	path = passwd
	url = https://github.com/finagin/passwd.git
[submodule "laravel-git-hooks"]
	path = laravel-git-hooks
	url = https://github.com/finagin/laravel-git-hooks.git
[submodule "envoy"]
	path = envoy
	url = https://github.com/finagin/envoy.git
[submodule "stail"]
	path = stail
	url = https://github.com/finagin/stail.git
[submodule "tg"]
	path = tg
	url = https://github.com/finagin/tg_redirect.git
[submodule "rsync"]
	path = rsync
	url = https://github.com/finagin/rsync.git
[submodule "tg-disk-checker"]
	path = tg-disk-checker
	url = https://github.com/finagin/tg-disk-checker.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/finagin/dotfiles.git
